# --- Fichiers CLion / IntelliJ déjà ignorés ---
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# --- Dossiers de build ---
cmake-build-*/
build/
out/

# --- Fichiers binaires ---
*.exe
*.dll
*.obj
*.o
*.so
*.a

# --- Fichiers système / temporaires ---
.DS_Store
Thumbs.db

# --- CMake caches ---
CMakeCache.txt
CMakeFiles/

# --- Autres ---
*.log
